@import "./navbar.css";
@import "./hero.css";
@import "./stats.css";
@import "./mainSection.css";
@import "./countriesList.css";
@import "./cards.css";
@import "./faq.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  @apply m-0 p-0 font-body;
}

/* width */
body::-webkit-scrollbar {
  @apply w-2 h-2;
}

/* Track */
body::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  @apply bg-indigo-700 hover:bg-indigo-500 rounded-full bg-opacity-30;
}

body {
  @apply bg-gray-200 z-0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

