.main-card-container{
  @apply flex flex-wrap justify-center;
}

.main-content-text h5{
  @apply text-lg font-bold text-blue-900 my-5;
}

.main-card-container .card{
  @apply px-4 py-3 rounded-lg mx-4 my-4 w-64;
}

.main-card-container .card.card-white{
  @apply bg-white w-80;
}

.main-card-container .card .image{
  @apply flex justify-center my-2;
}

.main-card-container .card h6{
  @apply text-base font-bold text-blue-900 my-3 text-center;
}

.main-card-container .card p{
  @apply text-sm text-gray-800 text-center;
}