.countries-list {
  @apply bg-white rounded-lg shadow-lg p-2 w-full h-500 
  relative flex flex-col;
}

.countries-list .selected{
  @apply flex rounded my-2 px-2 py-3 justify-between items-center 
  border border-blue-900;
}

.countries-list .countries {
  @apply w-full mt-1 overflow-y-auto overflow-hidden flex-1;
}

.countries-list .countries .cnt{
  @apply w-full flex bg-gray-100 rounded my-2 p-1 
  justify-between items-center cursor-pointer;
}

.countries-list .name{
  @apply flex items-center;
}

.countries-list .name img {
  @apply h-6 w-6 rounded-full shadow-sm mr-2;
}

.countries-list .cnt .name span {
  @apply text-blue-900 text-xs font-bold tracking-wide;
}

.countries-list .selected .name span {
  @apply text-blue-900 text-sm font-bold tracking-wide;
}

.countries-list .cnt > span {
  @apply text-blue-700 text-xs font-normal;
}

.countries-list .selected > span {
  @apply text-blue-700 text-sm font-normal;
}

