.main-faq{
  @apply bg-white text-xs py-10 px-10 mt-10 max-w-screen-md 
  lg:max-w-screen-lg xl:max-w-screen-xl mx-auto text-center;
}

.main-faq h5{
  @apply text-blue-900 text-2xl font-bold my-2;
}

.main-faq .faq-container{
  @apply grid grid-cols-1 sm:grid-cols-3 gap-10;
}

.main-faq .topic{
  @apply flex w-full my-4 px-4 py-3 border rounded-md border-blue-300 
  text-blue-400 items-center justify-between transition-all duration-300
  ease-out col-span-1;
}

.main-faq .topic.selected{
  @apply border-blue-700 text-blue-700 font-semibold;
}

.main-faq .topic span{
  @apply origin-right;
}

.main-faq .topic .icon{
  @apply h-3;
}

.main-faq .questions{
  @apply col-span-2 text-left;
}


.main-faq .q-container{
  @apply my-4;
}

.main-faq .questions .question{
  @apply text-blue-900 font-semibold;
}

.main-faq .questions .divider{
  @apply h-px w-4/6 bg-gray-200 mt-3 mb-1;
}

.main-faq .q-container.selected .answer{
  @apply h-full;
}

.main-faq .answer{
  @apply text-blue-900 h-0 overflow-hidden transition-all duration-500 ease-in-out;
}