.hero{
  @apply bg-indigo-900 w-full py-14;
}

.hero .container{
  @apply flex max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto;
}

.hero .left{
  @apply px-3 flex flex-col justify-center w-3/5;
}

.hero .left h3{
  @apply text-white text-xl uppercase my-8;
}

.hero .left p{
  @apply text-gray-400 text-sm;
}

.hero .left .btns{
  @apply flex w-full my-10;
}

.hero .left button{
  @apply text-white text-xs py-2 px-4 font-bold rounded-md 
  flex items-center;
}

.hero .left .btns :first-child{
  @apply mr-3;
}

.hero .left button svg{
  @apply h-5 w-5;
}

.hero .left .btns .pink{
  @apply  bg-pink-700;
}

.hero .left .btns .trans{ 
  @apply border-2 border-white uppercase;
}

.hero .right{
  @apply w-2/5 hidden sm:flex justify-center items-center;
}

