.main-content{
  @apply mt-32 sm:mt-20 flex flex-col sm:flex-row 
  max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl mx-auto;
}

.main-content .map-container{
  @apply bg-white p-2 rounded-lg shadow-lg my-2 mx-2 h-500 sm:w-3/5;
}

.main-content .map-container .leaflet-container {
  @apply h-full rounded-lg z-0;
}

.main-content .list{
 @apply pt-2 px-2 w-full flex-1;
}

.main-content-text{
  @apply flex flex-col items-center max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 
  mx-auto mt-10;
}