.navbar{
  @apply bg-indigo-900 flex py-3 px-5;
}

.navbar > .container{
  @apply max-w-screen-lg lg:max-w-screen-xl xl:max-w-screen-2xl mx-auto;
}

.navbar .brand{
  @apply flex items-center;
}

.navbar .brand svg{
  @apply h-12 w-12 mr-3  fill-current text-white;
}

.navbar .brand span{
  @apply text-gray-100 text-lg;
}