.stats-container{
  @apply max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 
  relative mx-auto flex justify-center items-center;
}

.stats{
  @apply bg-gray-100 shadow-lg grid grid-cols-2 
  sm:grid-cols-4 absolute rounded-lg px-3 py-5 
  -top-16 sm:-top-10;
}

.stats .stat{
  @apply flex items-center mb-5 sm:mb-0 cursor-pointer;
}

.stats .stat :not(:last-child){
  @apply ml-2;
}

.stats .stat svg{
  @apply w-10 h-10;
}

.stats .stat svg.red{
  @apply fill-current text-red-600;
}

.stats .stat svg.green{
  @apply fill-current text-green-600;
}

.stats .stat svg.gray{
  @apply fill-current text-gray-600;
}

.stats .stat > .details{
  @apply flex flex-col justify-around ml-2 h-10;
}

.stats .stat .details span:first-child{
  @apply text-xs text-blue-900;
}

.stats .stat .details span:last-child{
  @apply text-lg font-bold text-blue-900 text-center;
}

